<!DOCTYPE html>
<html lang="en">
  <head>
 

    <link href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet">

    <link href="../vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    
    
  </head>
        <!-- page content -->
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Ajouter un nouveau collaborateur </h3>
              </div>

            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                   
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <form id="ajouter-collaborateur" class="form-horizontal form-label-left" >

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nom  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12"  required="required" type="text">
                        </div>
                      </div>

                    
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Prenom  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="firstname" class="form-control col-md-7 col-xs-12"  required="required" type="text">
                        </div>
                      </div>



                        <div class="item form-group ">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mail">Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="email" id="mail" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      <div class="alert email">adresse email invalide</div></div>


    

                           <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Telephone <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="number" id="telephone"  required="required" length="10" pattern="{10}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                        


                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Role<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                         

                          <select  id="collaborateur-liste-role" class="form-control">

                          </select>


                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Service<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                         

                          <select id="collaborateur-liste-service" class="form-control">

                          </select>


                        </div>
                      </div>                     
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Admin :
                        </label>

                        <div class="col-md-4 col-sm-6 col-xs-12 ">
                            <label>
                              <input type="checkbox"  id="is_admin" />
                            </label>
                          </div>



                        </div>

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <button type="submit" class="btn btn-warning">Annuler</button>
                          <button id="send" type="submit" class="btn btn-success">Créer le collaborateur</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        <!-- /page content -->

   <script src="../vendors/validator/validator.js"></script>
   <script src="../vendors/moment/min/moment.min.js"></script>
   <script src="../vendors/switchery/dist/switchery.min.js"></script>
   <script src="../javascripts/bootstrap-notify.js"></script>
   <script src="../build/js/scripts.js"></script>
 

   <script type="text/javascript">
   var is_admin = 0  ;
   $(document).ready(function  () {

        $(".alert.email").hide();

        $("#is_admin").change(function () {
        if( this.checked)
          is_admin = 1 ;
        else
          is_admin = 0 ;
        
      });

         $('#ajouter-collaborateur').submit(function(){
           event.preventDefault();
          
          $.ajax({
                          url: '/inserercollaborateur',
                          type: 'POST',
                          dataType: 'json',
                          async:false,
                          data: {
                               mail: $("#mail").val() ,
                               mot_de_passe: $("#firstname").val() ,
                               nom : $("#name").val() ,
                               prenom: $("#firstname").val() ,
                               telephone: $("#telephone").val()  ,
                               service: parseInt( $("#collaborateur-liste-service").val() ),
                               role : parseInt( $("#collaborateur-liste-role").val() ),
                               admin: parseInt(is_admin)
                          },
                          success: function(response) {
                            if (response.type == "insererCollaborateurValidation")
                            {
                               notifier("success","<span class='fa fa-check'> "+response.message+" \n Votre mot de passe par defaut est votre prenom",null);
                             
                              setTimeout(function() {
                                     $("#pageInterne").load("conges.html");
                                }, 3000);  
                             
                            }
                          }
                      });
            
      
     }); 


   });

   </script>
     

  </body>
</html>