
	<meta charset="utf-8">
	<link href="../vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
	<link href="../vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">
	    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="../vendors/iCheck/skins/flat/blue.css" rel="stylesheet">
    
	<script src="../vendors/moment/min/moment.min.js"></script>
	<script src="../vendors/fullcalendar/dist/fullcalendar.min.js"></script>
	<script src="../vendors/fullcalendar/dist/lang/fr.js"></script> 
	<script src="../vendors/switchery/dist/switchery.min.js"></script>
	  <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>

	<script>

		 $(document).ready(function() {
 		 
    		//calendar
	    	var date = new Date(),
	          d = date.getDate(),
	          m = date.getMonth(),
	          y = date.getFullYear(),
	          started,
	          categoryClass;

	         var calendar = $('#calendar').fullCalendar({
	          locale: 'fr',
	          header: {
	          left: 'prev,next today',
	          center: 'title',
	          right: 'month,agendaWeek,agendaDay,listMonth'
	          },
	          buttonText :{
             
              month: 'mois',
              agendaDay :'jour',
              agendaWeek :'semaine',
              listMonth: "liste congés",
              today:"Aujourd'hui"
              
        	  },
        	  slotLabelFormat:"HH:mm" ,
	          //selectable: true,
	          selectHelper: true,
	          select: function(start, end, allDay) {
	          $('#fc_create').click();

	          started = start;
	          ended = end;

	          $(".antosubmit").on("click", function() {
	            var title = $("#title").val();
	            if (end) {
	            ended = end;
	            }

	            categoryClass = $("#event_type").val();

	            if (title) {
	            calendar.fullCalendar('renderEvent', {
	              title: title,
	              start: started,
	              end: end,
	              allDay: allDay
	              },
	              true // make the event "stick"
	            );
	            }

	            $('#title').val('');

	            calendar.fullCalendar('unselect');

	            $('.antoclose').click();

	            return false;
	          });
	          },
	          eventClick: function(calEvent, jsEvent, view) {
	          $('#fc_edit').click();
	          $('#title2').val(calEvent.title);

	          categoryClass = $("#event_type").val();

	          $(".antosubmit2").on("click", function() {
	            calEvent.title = $("#title2").val();

	            calendar.fullCalendar('updateEvent', calEvent);
	            $('.antoclose2').click();
	          });

	          calendar.fullCalendar('unselect');
	          },
	          editable: true,
	          events: function(start, end, timezone, callback) {

					        $.ajax({
					            url: '/selectConge',
					            type: 'GET',
					            dataType: 'json',
					            data: {},
					            success: function(doc) {

					                var events = [];

					                $(doc).each(function() {
							             switch($(this)[0]["id_etat_conge"]){
							             	//Brouillon
		                                     case 1:
		                                          $couleur = "#999999";
		                                          $etat = "Brouillon";
		                                          break;
		                                     //Envoye
		                                     case 2:
		                                          $couleur = "#5bc0de";
		                                          $etat = "Envoye";
		                                          break;
		                                     //valide_CS
		                                     case 5:
		                                          $couleur = "#5bc0de";
		                                          $etat = "Valide_CS";
		                                          break;
		                                     //Invalide_CS
		                                     case 3:
		                                          $couleur = "#d9534f";
		                                          $etat = "Invalide_CS";
		                                          break;
		                                     //Invalide_RH
		                                     case 4:
		                                          $couleur = "#d9534f";
		                                          $etat = "Invalide_RH";
		                                          break;
		                                     //Valide_RH
		                                     case 6:
		                                          $couleur =  "#5cb85c";
		                                          $etat = "Valide_RH";
		                                          break;
		                                     default:
		                                         $couleur = "#33cc33";
		                                         $etat = "?";
		                                 }
		                                 if($(this)[0]["id"]==0){
		                                 	$conge_paye="Congé payé";
		                                 }
		                                 else{
		                                 	$conge_paye="Congé sans solde";
		                                 }

					                    events.push({
					                       id: $(this)[0]["id"],
                                           title: $(this)[0]["motif"],
                                           start: $(this)[0]["dateDebut"],
                                           end: $(this)[0]["dateFin"],
                                           dateDemande: $(this)[0]["date_demande"],
                                           type: $conge_paye,
                                           color: $couleur,
                                           etat: $etat,
                                           collaborateur: $(this)[0]["id_demandeur"],
					                    });
					                });
					                callback(events);

					            }
					        });

					    },
		      timeFormat: 'H:mm',
		      eventRender: function (event, element) {

                         element.popover({
	                        trigger : 'hover',
	                        title: event.title,
	                        placement:'top',
	                        html:true,
	                        content: "Etat: "+event.etat+", id: "+event.id+", Debut: "+event.start.toISOString()+", Fin: "+event.end.toISOString()+", Demandé le: "+event.dateDemande,
                    	});   
               }

	         }); 


	         //icheck

	         if ($("input.flat.mine")[0]) 
	 		 {
		        $(document).ready(function () {
		            $('input.flat.mine').iCheck({
		                checkboxClass: 'icheckbox_flat-blue',
		                radioClass: 'iradio_flat-blue'
		            });
		        });
			}

			if ($("input.flat.other")[0]) 
	 		 {
		        $(document).ready(function () {
		            $('input.flat.other').iCheck({
		                checkboxClass: 'icheckbox_flat-green',
		                radioClass: 'iradio_flat-green'
		            });
		        });
			}     

    	});        
	
	</script>


	<div class="col-md-10">
	<div id="calendar"></div>
	</div>

    <div class="col-md-2">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Filtre <small></small></h2>                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div id="filterCalendar"> 
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-center">
                        <div id="menu_filtre" align="center">
	                         <input type="checkbox"  id="hobby2"  class="flat mine" checked="checked" /> Mes congés
	                         <br> <br>

	                         <input type="checkbox" id="hobby2"  class="flat other" /> Collaborateur                      <br> <br>
	                                                   
	                            <button id="btnreset_filtre" class="btn btn-default btn-block" value="Reset" type="reset" style="margin-bottom:25px">Réinitialiser</button>
                        </div><!-- /.navbar-collapse --> 
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


