
	<meta charset="utf-8">
	<link href="../vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
	<link href="../vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">
	    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="../vendors/iCheck/skins/flat/blue.css" rel="stylesheet">
    
	<script src="../vendors/moment/min/moment.min.js"></script>
	<script src="../vendors/fullcalendar/dist/fullcalendar.min.js"></script>
	<script src="../vendors/fullcalendar/dist/lang/fr.js"></script> 
	<script src="../vendors/switchery/dist/switchery.min.js"></script>
	  <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>

	<script>
		 var id_collabo;
		 var id_service;
		 var role_collabo;
		 var nom_service;
		 var tab_events = [];

		 //Recupere le service d'un collaborateur au format string
		 function getService(id_collab){
		 	var return_value;

		 	$.ajax({
	              url :"/selectCollaborateurs",
	              type:'GET',
	              dataType: 'json',
	              data: {id: id_collab},
	              async: false,

	              success: function(doc){
	              	return_value = doc["data"][0]["service"]["nom"];
	              }
		 	});
		 	return return_value;
		 }

		 //Recupere le nom d'un colaborateur
		 function getName(id_collab){
		 	var return_value;

		 	$.ajax({
	              url :"/selectCollaborateurs",
	              type:'GET',
	              dataType: 'json',
	              data: {id: id_collab},
	              async: false,

	              success: function(doc){
	              	return_value = doc["data"][0]["prenom"];
	              	return_value = return_value + " " + doc["data"][0]["nom"];
	              }
		 	});
		 	return return_value;
		 }

		 function isChefDeService(id_collab){
		 	var return_value;

		 	$.ajax({
	              url :"/selectCollaborateurs",
	              type:'GET',
	              dataType: 'json',
	              data: {id: id_collab},
	              async: false,

	              success: function(doc){
	              	return_value = doc["data"][0]["role"]["nom"];
	              	if(return_value=="Chef de service"){
	              		return_value=true;
	              	}
	              	else{
	              		return_value = false;
	              	}
	              }
		 	});
		 	return return_value;
		 }

		 function render_type(type) {
	          var tab = [];
	          console.log("render_type");
	         
	          tab1 = $("#calendar").fullCalendar( 'clientEvents');
	          console.log(tab1);
	          for(var i=0; i<tab1.length; i++){
	            if( ((tab1[i].service == type) && type!="MesConges" && type!="MonService") || (type=="MesConges" && tab1[i].collaborateur==id_collabo) || (type=="MonService" && tab1[i].collaborateur!=id_collabo) ) {
	                tab.push(tab1[i]); 
	            }
	          }
	          return tab;
	      }

		 $(document).ready(function() {

		  	
			 
			//calendar
	    	var date = new Date(),
	          d = date.getDate(),
	          m = date.getMonth(),
	          y = date.getFullYear(),
	          started,
	          categoryClass;

	          $.ajax({
	              url :"/name",
	              type:'GET',
	              dataType: 'json',
	              data: {},

	              success: function(doc){

	              	$(doc).each(function() {
	                	id_collabo = $(this)[0]["id"];
	                	role_collabo = $(this)[0]["role"]["nom"];
	                	if($(this)[0]["service"] != null){
	                		id_service = $(this)[0]["service"]["id"];
	                		nom_service = $(this)[0]["service"]["nom"];
	                	}
	            	})

	        		if(nom_service != "RH" && role_collabo != "Dirigeant"){
						$('#filtre_services').hide();
					}

					//Appel Ajax pour afficher volet de filtre personnalise
			         if(nom_service=="RH" || role_collabo=="Dirigeant"){
				         $.ajax({
				                  url :"/selectservices",
				                  type:'GET',
				                  dataType: 'json',
				                  data: {},

				                  success: function(doc){
				                  	
				                  	$(doc["data"]).each(function() {
				                    	var nomService = $(this)[0]["nom"];
				                    	if(nomService != nom_service){
				                    		var id_checkbox="checkbox"+nomService;
				                    		$('.filtre_services').append('<input type="checkbox" id='+id_checkbox+' class="flat" checked="checked"/> ' + nomService + '<br> <br>');
					                    }
				                	})

				                	if(role_collabo != "Dirigeant"){
					                    	$('.filtre_services').append('<input type="checkbox" id="checkboxDirigeant" class="flat" checked="checked"/> ' + "Dirigeant" + '<br> <br>');
					                }

				                  }                      
						});
			 		}
	              }
	              
	            })

	         var calendar = $('#calendar').fullCalendar({
	          locale: 'fr',
	          header: {
	          left: 'prev,next today',
	          center: 'title',
	          right: 'month,agendaWeek,agendaDay,listMonth'
	          },
	          buttonText :{
             
              month: 'mois',
              agendaDay :'jour',
              agendaWeek :'semaine',
              listMonth: "liste congés",
              today:"Aujourd'hui"
              
        	  },
        	  slotLabelFormat:"HH:mm" ,
	          //selectable: true,
	          selectHelper: true,
	          select: function(start, end, allDay) {
	          $('#fc_create').click();

	          started = start;
	          ended = end;

	          $(".antosubmit").on("click", function() {
	            var title = $("#title").val();
	            if (end) {
	            ended = end;
	            }

	            categoryClass = $("#event_type").val();

	            if (title) {
	            calendar.fullCalendar('renderEvent', {
	              title: title,
	              start: started,
	              end: end,
	              allDay: allDay
	              },
	              true // make the event "stick"
	            );
	            }

	            $('#title').val('');

	            calendar.fullCalendar('unselect');

	            $('.antoclose').click();

	            return false;
	          });
	          },
	          eventClick: function(calEvent, jsEvent, view) {
	          $('#fc_edit').click();
	          $('#title2').val(calEvent.title);

	          categoryClass = $("#event_type").val();

	          $(".antosubmit2").on("click", function() {
	            calEvent.title = $("#title2").val();

	            calendar.fullCalendar('updateEvent', calEvent);
	            $('.antoclose2').click();
	          });

	          calendar.fullCalendar('unselect');
	          },
	          editable: true,
	          events: function(start, end, timezone, callback) {
	          				tab_checkbox= $("#filtre input[type='checkbox']");
				            tab_checkbox.each(function(index,element) {
				                element.checked = true ;
				            });
				            tab_events.splice(0);
				            $('#calendar').fullCalendar('removeEvents');

					        $.ajax({
					            url: '/selectConge',
					            type: 'GET',
					            dataType: 'json',
					            data: {},
					            success: function(doc) {

					                var events = [];
					                
					                $(doc).each(function() {
							             switch($(this)[0]["id_etat_conge"]){
							             	//Brouillon
		                                     case 1:
		                                          $couleur = "#999999";
		                                          $etat = "Brouillon";
		                                          break;
		                                     //Envoye
		                                     case 2:
		                                          $couleur = "#5bc0de";
		                                          $etat = "Envoye";
		                                          break;
		                                     //valide_CS
		                                     case 5:
		                                          $couleur = "#5bc0de";
		                                          $etat = "Valide_CS";
		                                          break;
		                                     //Invalide_CS
		                                     case 3:
		                                          $couleur = "#d9534f";
		                                          $etat = "Invalide_CS";
		                                          break;
		                                     //Invalide_RH
		                                     case 4:
		                                          $couleur = "#d9534f";
		                                          $etat = "Invalide_RH";
		                                          break;
		                                     //Valide_RH
		                                     case 6:
		                                          $couleur =  "#5cb85c";
		                                          $etat = "Valide_RH";
		                                          break;
		                                     default:
		                                         $couleur = "#33cc33";
		                                         $etat = "?";
		                                 }
		                                 if($(this)[0]["id"]==0){
		                                 	$conge_paye="Congé payé";
		                                 }
		                                 else{
		                                 	$conge_paye="Congé sans solde";
		                                 }
		                                 service_collabo=getService($(this)[0]["id_demandeur"]);
		                                 //On affiche tous nos congés + congés validés seulement des autres collabos
		                                if(role_collabo=="Dirigeant" || nom_service=="RH" || ($(this)[0]["id_demandeur"] == id_collabo) || ((service_collabo==nom_service) && $etat=="Valide_RH" && isChefDeService($(this)[0]["id_demandeur"]) == false) || (isChefDeService(id_collabo)==true &&  (service_collabo==nom_service))){

						                    events.push({
						                       id: $(this)[0]["id"],
	                                           title: $(this)[0]["motif"],
	                                           start: $(this)[0]["dateDebut"],
	                                           end: $(this)[0]["dateFin"],
	                                           dateDemande: $(this)[0]["date_demande"],
	                                           type: $conge_paye,
	                                           color: $couleur,
	                                           etat: $etat,
	                                           collaborateur: $(this)[0]["id_demandeur"],
	                                           service: service_collabo,
	                                           collaborateurName: getName($(this)[0]["id_demandeur"]),
	                                         
						                    });
					                	}
					                });
					                callback(events);

					            }
					        });

					    },
		      timeFormat: 'H:mm',
		      eventRender: function (event, element) {
		      			 var demande = event.dateDemande.split("T")[0];
                         element.popover({
	                        trigger : 'hover',
	                        title: event.title,
	                        placement:'bottom',
	                        html:true,
	                        content: "Etat: "+event.etat+", id: "+event.id+", Debut: "+event.start.toISOString()+", Fin: "+event.end.toISOString()+", Demandé le: "+demande+", Demandeur: "+event.collaborateurName,
                    	});   
               }

	         }); 


	     $("#filtre").on('click','*', function() {
	         tab_checkbox= $("#filtre input[type='checkbox']");
	         var attr = $(this).attr('id');
	         var mon_type = null;

	         if(attr != null){
		         switch(attr) {
		         	case "checkboxMesConges" :
		         		mon_type="MesConges";
		         		break;
		         	case "checkboxMonService" :
		         		mon_type="MonService";
		         		break;
		         	default:
		         		mon_type=attr.substring(8);
		         		break;
		         }
			}
	         	        
	         tab_checkbox.each(function(index,element) {
	                var tmp = null;
	              
	                if (element.checked==false && $(this).attr('id') == attr) {
	                     
	                   
	                    if (tab_events.length == 0) {
	                        tab_events = render_type(mon_type);
	                    }
	                    else {
	                        tab_events = tab_events.concat(render_type(mon_type));
	                    }
	                    
	                    
	                    for(var i=0;i<tab_events.length; i++){
	                       
	                        //if(tab_events[i].service == mon_type){
	                        $('#calendar').fullCalendar('removeEvents' , tab_events[i].id);
	                        /*}
	                        else{
	                        	console.log("non");
	                        }*/
	                    }
	                    return;
	                }
	             
	                else if(element.checked==true && $(this).attr('id') == attr) {
	                   
	                    var taille_init = tab_events.length; 
	                    
	                    for(var i=0;tab_events[i]!=null;i++){
	                        
	                        if (((tab_events[i].service == mon_type) && mon_type!="MesConges" && mon_type!="MonService") || (mon_type=="MesConges" && tab_events[i].collaborateur==id_collabo) || (mon_type=="MonService" && tab_events[i].collaborateur!=id_collabo)){
	                          var tmp = {
	                               id: tab_events[i].id,
	                               title: tab_events[i].title,
	                               start: tab_events[i].start,
	                               end: tab_events[i].end,
	                               dateDemande: tab_events[i].dateDemande,
	                               type: tab_events[i].type,
	                               color: tab_events[i].color,
	                               etat: tab_events[i].etat,
	                               collaborateur: tab_events[i].collaborateur,
	                               service: tab_events[i].service,
	                               collaborateurName: tab_events[i].collaborateurName,
	                           }
	                           
	                           $('#calendar').fullCalendar( 'renderEvent', tmp, true);
	                           tab_events.splice(i,1);
	                           i=i-1;
	                        }
	                    }
	                    
	                }
	                return;
	                                                     
	             });
      		});   

    	});        
	
	</script>

	<style type='text/css'>
	  .my-legend .legend-title {
	    text-align: left;
	    margin-bottom: 5px;
	    font-weight: bold;
	    font-size: 90%;
	    }
	  .my-legend .legend-scale ul {
	    margin: 0;
	    margin-bottom: 5px;
	    padding: 0;
	    float: left;
	    list-style: none;
	    }
	  .my-legend .legend-scale ul li {
	    font-size: 80%;
	    list-style: none;
	    margin-left: 0;
	    line-height: 18px;
	    margin-bottom: 2px;
	    }
	  .my-legend ul.legend-labels li span {
	    display: block;
	    float: left;
	    height: 16px;
	    width: 30px;
	    margin-right: 5px;
	    margin-left: 0;
	    border: 1px solid #999;
	    }
	  .my-legend .legend-source {
	    font-size: 70%;
	    color: #999;
	    clear: both;
	    }
	  .my-legend a {
	    color: #777;
	    }
	</style>


	<div class="col-md-10">
	<div id="calendar"></div>
	</div>

    <div class="col-md-2">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Filtre <small></small></h2>                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div id="filterCalendar"> 
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-center" >
                        <div class="menu_filtre " id="filtre" style="width: 100px"; >
	                         <input type="checkbox"  id="checkboxMesConges"  class="flat" checked="checked"/> Mes congés
	                         <br> <br>

	                         <input type="checkbox" id="checkboxMonService"  class="flat" checked="checked"/> Mon service  
	                         <br> <br>

	                          <div class="filtre_services">                          	
	                          </div>
	                            <div class='my-legend'>

									<div class='legend-title'>Légende</div> <br>
									<div class='legend-scale'>
									  <ul class='legend-labels'>
									    <li><span style='background:#999999;'></span>Brouillon</li>
									    <li><span style='background:#5bc0de;'></span>En cours</li>
									    <li><span style='background:#d9534f;'></span>Refusé</li>
									    <li><span style='background:#5cb85c;'></span>Validé</li>
									  </ul>
									</div>

								</div>

                        </div><!-- /.navbar-collapse --> 
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


