  {% extends 'layout.twig' %}
  
 {% block mainTitle %}Congés{% endblock %}
 {% block minorTitle %}Mes congés en détail  {% endblock %}

 {% block content %}
      <table id="datatable-buttons" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Motif</th>
              <th>Date de début</th>
              <th>Date de fin</th>
              <th>Statut</th>
              <th></th>
              <th>operation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
           
          </tbody>
     </table> 

{% endblock %}

