doctype html
html(ng-app='myapp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    script(type='text/javascript').
        var app = angular.module('myapp', []);

  body
    block content