 <!DOCTYPE html>
<html lang="en">
    
<!-- Datatables -->
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

        <!-- page content -->
 <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       
        <h4 class="modal-title" id="myModalLabel">justificatif du refus :</h4>
      </div>
      <div class="modal-body">
     <form>
    <div class="form-group">
      <label for="comment">Commentaire:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
  </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="nogo" class="btn btn-default" >Close</button>
        <button type="button" id="go" class="btn btn-primary" class="close" data-dismiss="modal" >Save changes</button>
      </div>
    </div>
  </div>
</div>
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Mes missions</h3>
              </div>

             
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_content">

                    <table id="datatable-responsive" class="table table-striped table-bordered table-bordered nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                       <th>Collaborateur </th>
                            <th>Motif</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Congé payé</th>
                              <th>Actions</th>
                        </tr>
                      </thead>
                 </table> 

                  </div>
                </div>
              </div>
            </div>
          </div>
        
        <!-- /page content -->

     <!-- Datatables -->
    <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="../vendors/jszip/dist/jszip.min.js"></script>
    <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>


 <script type="text/javascript">
     function getName(id_collab){
          var return_value;

          $.ajax({
                    url :"/selectCollaborateurs",
                    type:'GET',
                    dataType: 'json',
                    data: {id: id_collab},
                    async: false,

                    success: function(doc){
                      return_value = doc["data"][0]["prenom"];
                      return_value = return_value + " " + doc["data"][0]["nom"];
                    }
          });
          return return_value;
           }


       function valid(id,etat){
        
         $.ajax({
                            type: "GET",
                            url: '/modifierConge',
                            data: {id: id , stat : etat},
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            cache: false,

                            success: function (data) {
                            },
                        });
           $('#pageInterne').load('validation_conge.html');
         
};
       function refuse(id,state){
       
$('#myModal').modal('show');

 go.addEventListener("click", function() {
                                console.log("paaaaaaaaaaaaaaaaaa");

                             $.ajax({
                            type: "GET",
                            url: '/modifierConge',
                            data: {id: id , stat : state  , comment : ($( "#comment" ).val()) },
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            cache: false,

                            success: function (data) {
                              $('#myModal').modal('hide');
                            },
                        });


}, false);      
  nogo.addEventListener("click", function() {
$('#myModal').modal('hide');


}, false);

};


      $(document).ready(function(){
       
           $("#datatable-responsive").DataTable({    
              responsive: true
            });

           $.get("/name", function(data, status)
         {
           profile = JSON.parse(data);

            if (profile.service.nom == "RH") 
                {
                  //tous les demandes(sauf les siens) en Etat validé CS
                  $.ajax({

                            type: "GET",
                            url: '/selectConge',
                            data: {},
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            cache: false,

                            success: function (data) {

                              $(data).each(function(){

                               if($(this)[0]["id_etat_conge"]=="5")
                               {
                               var trHTML = '';
                                trHTML += '<tr><td>' + $(this)[0].id_demandeur + '</td><td>' + $(this)[0].motif + '</td><td>' + $(this)[0].dateDebut + '</td><td>' + $(this)[0].dateFin + '</td><td>' + $(this)[0].estPaye + '</td><td>'+ '<button onclick="valid('+this.id+',6)" id='+this.id+' type="buttonValid" class="btn btn-success btn-small"></i>Valider</button><button onclick="refuse('+this.id+',4)" id='+this.id+' class="btn btn-danger btn-small"></i>Refuser</button></td></tr>';
                                $('#datatable-responsive').append(trHTML);       
                                   $( "#datatable-responsive" ).DataTable();
                                }


                              })

                            },
                        });
                        

                }

            if (profile.service.chef_service==profile.id) 
                {
                   $.ajax({

                            type: "GET",
                            url: '/selectCongeServ',
                            data: {id_service: profile.service.id , bool :"1"},
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            cache: false,

                            success: function (data) {

                              $(data).each(function(){

                               if($(this)[0]["id_etat_conge"]=="2")
                               {
                               var trHTML = '';
                                trHTML += '<tr><td>' + $(this)[0].id_demandeur + '</td><td>' + $(this)[0].motif + '</td><td>' + $(this)[0].dateDebut + '</td><td>' + $(this)[0].dateFin + '</td><td>' + $(this)[0].estPaye + '</td><td>'+ '<button onclick="valid('+this.id+',5)" id='+this.id+' type="buttonValid" class="btn btn-success btn-small"></i>Valider</button><button onclick="refuse('+this.id+',3)" id='+this.id+' class="btn btn-danger btn-small"></i>Refuser</button></td></tr>';
                                $('#datatable-responsive').append(trHTML);       
                                }


                              })
                              
                                   $( "#datatable-responsive" ).DataTable();

                            },
                        });
                  
                }
            
         });
        
      });

    </script>

  </body>
</html>